node_modules
.env
dist
build
.DS_Store
backend/temp

# VS Code
.vscode
.vercel

# progrsm folder in rust-server
rust-server/programs/*

# target folder in rust-server
rust-server/target/*

**/target/*

# Remove .terraform
**/.terraform/*
